.footerElement{
    width: 100%;
    background: url(/src//app/PackSrc/image/wallpaperflare.com_wallpaper\ \(2\).jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: -1px;
}
.divFoterEndMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.roulsFooterproduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.iconListFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-left: 5px;
}
.parentUlFooter{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 150px;
}
.ListChildLinkRouter{
    margin: 10px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.divFoterVersionWeb{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
.versionWebSiteFooter{
    margin-left: 20px;
}
.imageFooterChiled{
    width: 300px;
}

.divFoterEndMainLink>div{
    margin: 10px 0px ;
    padding: 5px;
    background-color: #2222224a;
    border-radius: 50%;
    border: purple solid 2px;
}
.firstDiv{
    margin-left: -20px !important;
}
.lastDiv{
    margin-left: 20px !important;
}
.divFoterEndMainparagraf{
    width: 400px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 150px;
    text-align: justify;
    justify-content:auto;
}

.inpInputeDivFooterEmail{
    width:90%;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 30px;
}
.inpInputeDivFooterEmail:focus{
    transition: all 0.5s;
    border-radius: 25px;
    box-shadow: 0 2px 20px rgb(255, 0, 255);
}
.btnInputeDivFooterEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #22222200;
    position: absolute;
    margin-top: -35px;
    margin-left: 340px;
}
.btnInputeDivFooterEmail:hover>svg{
    transition: all 0.5s;
    color: rgb(255, 101, 255) !important;
}
@media (min-width:1200px) and (max-width:1500px) {
    .ResoursoryWebAndProject{
        font-size: 0.9rem;
    }
    .divFoterEndMainparagraf{
        font-size: 1.1rem;
    }
}
@media (min-width:980px) and (max-width:1199px) {
    .ResoursoryWebAndProject{
        font-size: 0.8rem;
    }
    .divFoterEndMainparagraf{
        font-size: 1rem;
    }
    .divFoterEndMainparagraf{
        margin-left: 100px;
    }
    .parentUlFooter{
        margin-right: 100px;
    }
}
@media (min-width:800px) and (max-width:979px) {
    .ResoursoryWebAndProject{
        font-size: 0.7rem;
    }
    .divFoterEndMainparagraf{
        font-size: 0.9rem;
    }
    .divFoterEndMainparagraf{
        margin-left: 80px;
    }
    .parentUlFooter{
        margin-right: 80px;
    }

}
@media (min-width:670px) and (max-width:799px) {

    .ResoursoryWebAndProject{
        font-size: 0.6rem;
    }
    .roulsFooterproduct{
        font-size: 0.7rem;
    }
    .divFoterEndMainparagraf{
        font-size: 0.8rem;
    }
    .divFoterEndMainparagraf{
        margin-left: 25px;
    }
    .parentUlFooter{
        margin-right: 25px;
    }
    .divFoterEndMain{
        flex-direction: column;
    }
    .parentUlFooter{
        flex-direction: row;
    }
    .ListChildLinkRouter{
        margin: 0 20px;
        margin-top: 30px;
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    .divFoterEndMainLink{
        margin-top: 30px;
    }
    .divFoterEndMainparagraf{
        font-size: 0.7rem;
        margin-left: 25px;
        margin-top: 50px;
    }
}
@media screen and (max-width:669px) {
    .ResoursoryWebAndProject{
        font-size: 0.45rem;
    }
    .roulsFooterproduct{
        font-size: 0.7rem;
    }
    .divFoterEndMainparagraf{
        font-size: 0.7rem;
        margin-left: 25px;
        margin-top: 50px;
    }
    .parentUlFooter{
        margin:auto;
    }
    .divFoterEndMain{
        flex-direction: column;

    }
    .parentUlFooter{
        flex-direction: row;
    }
    .ListChildLinkRouter{
        margin: 0 15px;
        margin-top: 30px;
        font-size: 0.7rem;
        margin-bottom: 30px;
    }
    .divFoterEndMainLink{
        margin-top: 30px;
    }
    .programLanMoverOrgParentDiv{
        display: none;
    }
}
@media screen and (max-width:480px) {
    .programLanMoverOrgParentDiv{
        display: none;
    }
    .btnInputeDivFooterEmail{
        margin-top: -28px !important;
        margin-left: 53% !important;
    }
    .roulsFooterproduct{
        font-size: 0.5rem;
    }
    .ListChildLinkRouter{
        margin: 0 8px;
        margin-top: 20px;
        font-size: 0.6rem;
        margin-bottom: 20px;
    }
    .divFoterEndMainparagraf{
        width: 60%;
    }
    .divFoterEndMainparagraf{
        font-size: 0.7rem;
        margin-left: 25px;
        margin-top: 40px;
    }
    .inpInputeDivFooterEmail{
        height: 10px;
        font-size: 0.9rem;
    }
    .parentUlFooter{
        margin:auto;
    }
}