.divSearchOrgParent{
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    border-radius: 30px;
    backdrop-filter: blur(5px);
    width: 1300px;
    height: 42em;
    padding: 50px;
    top: 510px;
    background-color: #5555554b;
}

.searcher{
    width: 40%;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spanSearchCart{
    color: rgb(107, 0, 109);
    text-shadow: 0 0 3px white;
    font-weight: bolder;
}
.pargrafSearchDivParent{
    color: #fff;
    margin: 50px 0px;
    margin-top: 30px;
}
.inputeParentDiv{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.iconSearchBox{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 28.5em;
    left: 29.5em;
    color: #555;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s;
    padding: 5px;
}
.iconSearchBox:hover{
    transition: all 0.5s;
    color: #ff3ff5;
}
.inputeSearch{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;
    transition: all 0.5s;
    text-align: start;
    padding-top: 3px;
    box-shadow:  0 0 10px #555;
    font-weight: bolder;
    font-size: 1rem;
}
.inputeSearch:focus{
    transition: all 0.5s;
    border-radius: 25px;
    box-shadow:  0 0 30px #ff3ff5;
}
.inputeSearch::placeholder{
    color: rgba(86, 86, 86, 0.522);
    font-size: 1rem;
    font-weight: bold;
}
.contaner{
    width: 600px;
    height: 40em;
    font-size: 10px;
    position: relative;
    margin: 0px auto;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contaner{
    margin-left: 100px;
}
@media screen and (max-width:1430px) {
    .divSearchOrgParent{
        width: 80%;
        height: min-content;
        top: 440px;
        padding:70px 20px ;
    }
    .contaner{
        margin: auto;
        height: 400px;
    }
    .searcher{
        height: 300px;
    }
}
@media screen and (max-width:1000px) {
    .divSearchOrgParent{
        top: 600px;
        flex-direction:column-reverse;
    }
    .contaner{
        margin-top:150px !important;
        margin: auto;
        height: 200px;
    }
    .searcher{
        margin-top:200px !important;
        height: 300px;
    }
}
@media screen and (max-width:840px) {
    .divSearchOrgParent{
        flex-direction:column-reverse;
        width: 63%;
        height: min-content;
        top: 550px;

    }
    .contaner{
        width: 100%;
        margin: auto;
        margin-top: 20px !important;
        height: 400px;
    }
    .searcher{
        margin-top: 60px !important;
        height: 200px;
    }
    .header1TitleCartSearch{
        font-size: 1.2rem;
    }
    .pargrafSearchDivParent {
        margin: 20px 0px;
        margin-top: 10px;
        font-size: 0.9rem
    }
    .inputeSearch {
        width: 210px;
        height: 30px;
        transition: all 0.5s;
        font-size: 0.9rem;
    }
    .pargrafSearchDivParent{
        width: 220px;
    }
    .header1TitleCartSearch{
        width: 220px;
    }
}
@media screen and (max-width:640px) {
    .divSearchOrgParent{
        top: 500px;
    }
    .contaner{
        height: 250px;
    }
}



