@font-face {
  font-family:vazir;
  src: url(./app/PackSrc/font/Vazir.ttf);
}
:root{
  --color:#ffffff;
  --colorN:#222222;
  --background:#fcf7ff;
  --backgroundN:#2D033B;
  --colorRGBthemeWeb:#810CA8;
}
::-webkit-scrollbar{

  width: 5px;
  background-color: #d453ff;
}
::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: #4d0067;
}
*{
  font-family:vazir;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--colorN);
 background: rgb(48, 23, 94);
 background-repeat: no-repeat;
}
button{
  border: none;
  outline: none;
  font-family: vazir;
}
input{
  border: none;
  outline: none;
  font-family: vazir;
}